<!doctype html>
<html>
<head>
    <title>FlashCards</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1></span> Cards</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">
        <div>
          <h3>Cards</h3>
          <ul class="cards">
          <% for(var i=0; i<cards.length; i++) {%>
            <% if (user.local.email == cards[i].name) {%>
                <li class="flashCard">
                  <span class="cardAuthor"><%= cards[i].name %></span>
                  <span class="cardMain"><%= cards[i].msg %></span>
                  <span class="trashCan"><i class="fa fa-trash" aria-hidden="true"></i></span>
                </li>
            <% } %>
          <% } %>
          </ul>

          <h2>Submit a Card</h2>
        <% if (user.local.email) { %>
          <form action="/cards" method="POST">
            <input type="text" value="<%= user.local.email %>" name="name">
            <input type="text" placeholder="message" name="msg">
            <button type="submit">Submit</button>
          </form>
        </div>
        <% } %>

</div>

<script src="main.js"></script>

</body>
</html>
