body{
  padding-top:80px;
  word-wrap:break-word;
}
li{
    list-style: none;
}
.chat{
    display: grid;
    grid-template-columns: 1fr .2fr 1fr;
}
.chatBubble{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .2fr 1fr .2fr;
    min-height: 8rem;
    min-width: 25rem;
    margin: .2rem;
    padding: .2rem;
    border: 2px solid black;
    border-radius: .3rem;
}
.chatAuthor{
    font-size: .9rem;
    color: gray;
    grid-column: 2;
    text-align: right;
}
.chatMessage{
    font-size: 2.1rem;
    grid-column: 1 / span 2;
}
.chatTrash{
    font-size: .95rem;
    align-self: end;
    justify-self: end;
    grid-column: 2;
    grid-row: 3;
}
.otherMessage{
    justify-self: start;
    grid-column: 1;
    text-align: left;
    background-color: beige;
    transistion: all .2s;
}
.myMessage{
    justify-self: end;
    grid-column: 3;
    text-align: right;
    background-color: lightblue;
    transistion: all .2s;
}

.otherMessage:hover,
.myMessage:hover{
    transform: scale(1.05);
}
