/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
        -moz-box-sizing: border-box; /* Firexfox */
             box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearFix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
.clear {
	clear: both;
}
.alignRight {
	float: right;
}
.alignLeft {
	float: left;
}
/******************************************
/* BASE STYLES
/*******************************************/
body {
     color: #000000;
     font-family: sans-serif;
}
/******************************************
/* LAYOUT
/*******************************************/
header, footer{
    width: 100%;
    margin: auto;
    padding: 0 8%;
}
header{
    height: 50px;
    background-color: black;
}
.wholeHeader{
    width: 100%;
}
.headerLeft{
    width: 30%;
}
.headerLeft img{
    height: 49px;
}
.headerRight{
    width: 70%;
}
.headerRight{
    padding: 15px 0 15px 0;
}
.headerRight a{
    color: white;
    font-weight: bold;
    margin: 0 0 0 5%;

}
.mainSection, .bottomSection{
    width: 100%;
}
.mainSection{
    width: 84%;
    margin: 8%;
}
.leftSection{
    width: 65%;
    margin-right: 5%;
}
.leftSection h4{
    font-size: 42px;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 2px solid #9b1518;
}
.leftSectionOne{
    width: 70%;
}
.leftSectionMainOne{
    width: 100%;
}
.leftSectionMainOne img{
    height: 500px;
    width: 98%;
}
.leftSectionMainOne h2{
    font-size: 42px;
    font-weight: bold;
    margin: 10px 0;
}
.leftSectionTwo{
    width: 30%;
}
.bottomLeftSection{
    width: 100%;
    padding-bottom: 50px;
    border-bottom: 2px solid #eeeeee;
}
.bottomLeftSectionOne, .bottomLeftSectionTwo{
    width: 48.5%;
}
.bottomLeftSectionTwo{
    margin-right: 2%;
}
.bottomLeftSection h2{
    line-height: 26px;
}
.bottomLeftSectionOne img, .bottomLeftSectionTwo img{
    height: 290px;
    width: 100%;
}
.leftSectionTwo h5{
    font-weight: bold;
    margin-bottom: 5px;
    color: #9b1518;
}
.leftSectionTwo h3{
    margin-bottom: 10px;
    padding-bottom: 10px;
    line-height: 22px;
    border-bottom: 1px solid #f8f8f8;
}
.leftSectionTwo a{
    font-weight: bold;
    color: #9b1518;
}
.rightSection{
    width: 30%;
}
.marketing{
    padding: 0 20% 20px 20%;
}
.mostPopular h4{
    font-size: 42px;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 2px solid #9b1518;
}
.number, .numberExclusive{
    padding: 15px 0;
    margin: 15px 0 15px 8%;
    line-height: 22px;
}
.numberExclusive a{
    color: #9d9b9d;
}
.bottomSection, .bottomSectionText{
    width: 100%;
}
.bottomSectionText{
    margin-top: 50px;
}
.bottomSectionOne, .bottomSectionTwo{
    width: 50%;
}
.footerLeft{
    width: 70%;
}
.footerLeft{
    width: 30%;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
li{
    display: inline;
}
a{
    text-decoration: none;
}
header{
    color: white;
    background-color: black;
}
.headerRight{
    text-align: right;
}
.newsInAuto{
    color: #9b1518;
    font-size: 42px;
}
.newsInAuto span{
    color: #000;
}
.newsInAuto a{
    color: #999cb5;
    font-size: 24px;
    text-decoration: underline;
}
.newsInAuto p{
    margin-bottom: 15px;
}
.bottomSectionOne img{
    height: 400px;
    width: 97%;
}
.bottomSectionOne a{
    margin-top: 10px;
    color: #000;
    font-size: 36px;
    font-weight: bold;
}
.bottomSectionTwo h3{
    margin: 15px 0 15px 0;
    line-height: 24px;
}
.bottomSectionTwo > h3{
    margin-top: 0;
}
.footerLeft a{
    font-size: 24px;
    color: #9b1518;
}
.footerRight{
    text-align: right;
}
.footerRight ul{
    color: #389ee4;
}
