<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>pomoTimer</title>
        <link rel="stylesheet" href="stylesheet.css">
    </head>
    <body>
        <section class="container">
            <!--config for count down-->
            <span class="currentTime"></span>
            <button type="button" name="" class="startTimer">Start</button>
            <button type="button" name="" class="resetTimer">Reset</button>
            <!--config for break-->
            <span class="breakTime"></span>
            <button type="button" name="" class="increaseBreak">+</button>
            <button type="button" name="" class="decreaseBreak">-</button>
            <!--config for session-->
            <span class="sessionTime"></span>
            <button type="button" name="" class="increaseSession">+</button>
            <button type="button" name="" class="decreaseSession">-</button>
        </section>
        <script type="text/javascript" src="main.js"></script>
    </body>
</html>
