/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
       -moz-box-sizing: border-box; /* Firexfox */
            box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignRight {
	float: right;
}

.alignLeft {
	float: left;
}

/***********************************
positioning
***********************************/

header{
    width: 30%;
}

footer {
    background-color: #252525;
    border: 1px solid black; /*temp visual clarity*/
    clear: both;
}

footer p{
    color: white;
    width: 100%;
    margin: 5px 35%;
}

footer a{
    color: #e5f401;
    text-decoration: underline;
}

.headerHalf, .mainLeftSide, .mainRightSide{
    width: 50%;
}

/***********************************
adjustments
***********************************/

body{
    font-family: Helvetica, Arial, sans-serif;
}

a{
    text-decoration: none;
}

/***********************************
header
***********************************/

.headerTop{
    background-color: #660033;
}

.headerBottom{
    background-color: #281b21;
}

.headerBottom a{
    color: white;
}

.headerBottom > h4 + a{
    color: #d7ff00;
    text-align: right;
    padding: 15px 25px 0 0;
}

.headerTopLeft{
    padding: 10px 0 10px 10px;
}

.headerTopRight a{
    padding: 20px 20px 0 0;
}

.headerBottom h4{
    padding: 15px;
}

/***********************************
under header articles
***********************************/

.underHeaderArticles{
    width: 30%;
}

.underHeaderArticles li{
    padding: 15px 10px 15px 15px;
    border-left: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}

.underHeaderArticles span{
    display: inline-block;
    margin: 5px 0;
}

.underHeaderArticles h3, .underHeaderArticles span{
    color: #281b21;
    font-weight: bold;
}

.underHeaderArticles span{
    color: #8c8c8c;
    font-size: 14px;
}
/**********************************************************************
main body
**********************************************************************/


.mainBody{
    width: 69.5%;
    margin-right: .5%;
    float: left;
}

.mainTop{
    background: url("../images/1.png") no-repeat center;
    background-color: #362629;
    background-size: cover;
}

.mainBottom{
    margin-top: 10px;
}

.mainBottomImg{
    width: 100%;
}
/***********************************
main right side
***********************************/

.mainRightSide{
}

/* work on this*/
.mainRightSideTop{
    margin: 20px 30%;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.mainRightSideTop h4{
    color: white;
    margin-left: 7px;
    padding: 10px 0;
}

.mainRightSide ul{
    margin: 30px 17%;
}

.mainRightSide li{
    padding: 10px 0;
}
.mainRightSide a{
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
}

/***********************************
main left side
***********************************/

.mainLeftSide{
}

.mainLeftSide h2, .mainLeftSide h4, .mainLeftSide span{
    margin: 50px 21% 15px 21%;
    color: white;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}

.mainLeftSide h4{
    color: #e6f508;
    margin-top: 15px;
    font-size: 2.1rem;
}

.mainLeftSide span{
    width: 42%;
    margin-top: 10px;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 400;
    font-style: italic;
    padding-left: 75px;
}
/***********************************
main bottom right
***********************************/

.mainBottomRightSide{
    width: 28%;
}

.mainBottomRightSide section{
    border: 1px solid #e3e3e3;
    margin-bottom: 10px;
}

.mainBottomRightSide h2{
    margin: 10px 10px;
    font-size: 24px;
    font-weight: bold;
}

.mainBottomRightSide span{
    margin: 15px 10px;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    display: inline-block;
}

.mainBottomRightSideTwo{
    color: white;
    background-color: #660033;
}

.mainBottomRightSideTwo span{
    margin-bottom: 45px;
}

/***********************************
main bottom left
***********************************/

.mainBottomLeftSide{
    width: 25%;
    border: 1px solid #e3e3e3; /*temp visual clarity*/
}

.mainBottomLeftSide img{
    width: 100%;
    height: auto;
    display: block;
}

.mainBottomLeftSide h2{
    color: #281b21;
    font-size: 2rem;
    font-weight: 600;
	margin: 20px 12%;
    text-decoration: none;
}

/***********************************
media query
***********************************/

@media only screen and (max-width: 1170px) {
    header{
        width: 100%;
    }

    footer, .mainBottomImg{
        display: none;
    }

    .mainBody, .mainBottomRightSide, .mainBottomLeftSide, .underHeaderArticles{
        width:100%;
    }

    .mainBottomLeftSide img{
        max-height: 20rem;
        margin: auto;
        max-width: 45rem;
    }

    .mainLeftSide h2, .mainLeftSide h4, .mainLeftSide span{
        font-size: 2.5rem;
    }

    .mainLeftSide h4{
        font-size: 1.5rem;
    }

    .mainLeftSide span{
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 720px) {

    .mainTop, .mainLeftSide, .mainRightSide{
        width: 100%;
    }
}

@media only screen and (max-width: 468px) {
    .headerBottom, .mainRightSideTop{
        display: none;
    }
}
